.index {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;

    img.logo {
      $length: 200px;
      width: $length;
      height: $length;
    }

    h1 {
      margin-top: 0;
      font-size: 3em;
      font-weight: 100;
    }
  }

  section.table-of-contents {
    display: flex;
    flex-direction: column;

    .paketo-redirect {
      align-self: flex-end;
      color: #30438F;
      font-weight: 400;
    }

    .emphasis-line {
      align-self: flex-end;
      width: 192px;
      height: 3px;
      background: linear-gradient(to right, #f5c344, #b6cd56, #79cf7d, #3acaa6, #00c1c5, #00b3cb, #00a5cc, #3295c7, #2281bc, #1f6daf, #2658a0, #30438f);
      margin-bottom: 16px;
    }

    article {

      margin-bottom: 60px;

      h1 {
        margin-top: 0;
        font-size: 2em;
        font-weight: 100;
        margin-bottom: 20px;
        line-height: 1.5em;
      }

      .metadata {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        section.author {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 0.5em;

          img {
            margin: 0;

            $length: 50px;
            width: $length;
            height: $length;
            border-radius: $length / 2;
          }

          name {
            font-size: 0.8em;
            margin: 0 0 0 0.5em;
          }
        }

        .date {
          margin-top: 0.5em;
          font-size: 0.8em;
          color: #C1C1C1;
        }
      }
    }
  }
}
