.index {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;

    img.logo {
      $length: 200px;
      width: $length;
      height: $length;
    }

    h1 {
      margin-top: 0;
      font-size: 3em;
      font-weight: 100;
    }
  }

  section.table-of-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    article {
      margin: 1em 0;

      h2 {
        font-size: 2em;
        font-weight: 100;
        margin-bottom: 20px;
      }

      .metadata {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        section.author {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 0.5em;

          img {
            margin: 0;

            $length: 50px;
            width: $length;
            height: $length;
            border-radius: $length / 2;
          }

          h4 {
            font-size: 0.8em;
            margin: 0 0 0 0.5em;
          }
        }

        .date {
          margin-top: 0.5em;
          font-size: 0.8em;
          color: #C1C1C1;
        }
      }
    }
  }
}
