.youtube {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-top: 2em;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.post {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;

  header {
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #4A516D;
    }

    a:before {
      width: 0;
    }

    img.logo {
      $length: 200px;
      width: $length;
      height: $length;
    }

    h1 {
      margin-top: 0;
      font-size: 3em;
      font-weight: 100;
    }
  }

  section {
      a {
        font-weight: 400;

        code:hover {
          background: none;
        }
      }

      img {
        display: block;
        margin: 0 auto;
      }

      h2 {
        font-weight: 100;
        margin-bottom: 20px;
      }

      h3 + p {
        margin-top: 0.5em;
      }

      h4 + p {
        margin-top: 0.5em;
      }

      h5 + p {
        margin-top: 0.5em;
      }

      h6 + p {
        margin-top: 0.5em;
      }

      section.author {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0.5em;

        img {
          margin: 0;

          $length: 50px;
          width: $length;
          height: $length;
          border-radius: $length / 2;
        }

        h4 {
          margin: 0 0 0 0.5em;
        }
      }
  }

  footer {
    border-top: 3px solid #4A516D;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em 0;

    a {
      margin: 0 1em;
    }

    a:before {
      width: 0;
    }
  }
}
