<!doctype html>
<html>
  <head>
      {{ partial "head.html" . }}
  </head>
  <body>
    <div class="post">
      <header>
        <a href="/">
          <img class="logo" src="/images/logo512.png" />
          <h1>Paketo Buildpacks | Blog</h1>
        </a>
      </header>
      <section>
        <h2>{{ .Title }}</h2>
        {{ partial "author.html" . }}
        <h5>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</h5>
        <article>
          {{ .Content }}
        </article>
      </section>
      <footer class="post">
        {{ partial "social/twitter.html" . }}
        {{ partial "social/linkedin.html" . }}
        {{ partial "social/facebook.html" . }}
      </footer>
    </div>
  </body>
</html>
