<!doctype html>
<html>
  <head>
    {{ partial "head.html" }}
  </head>
  <body>
    <div class="index">
      <header>
        <a href=https://paketo.io>
          <img class="logo" src="/images/logo512.png">
          <h1>Paketo Buildpacks | Blog</h1>
        </a>
      </header>
      <section class="table-of-contents">
      {{ range first 5 (where .Site.RegularPages.ByDate "Section" "posts" ).Reverse }}
        {{ partial "summary.html" . }}
      {{ end }}
      </section>
    </div>
  </body>
</html>
