name: Deploy

on:
  push:
    branches:
    - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        ref: gh-pages

    - name: Checkout build environment
      uses: actions/checkout@v2
      with:
        ref: main
        path: build-environment

    - name: Build
      run: ./build-environment/scripts/build.sh --token "${{ github.token }}"

    - name: Update
      run: |
        git rm -r --ignore-unmatch .
        cp -a build-environment/public/* .
        rm -rf build-environment

    - name: Commit
      id: commit
      run: |
        git config --global user.email "paketobuildpacks@gmail.com"
        git config --global user.name "paketo-bot"

        if [[ -n "$(git status --short)" ]]; then
          git add --all .
          git commit --message "Deploying"
          echo "commit_sha=$(git rev-parse HEAD)" >> "$GITHUB_OUTPUT"
        fi

    - name: Push
      if: ${{ steps.commit.outputs.commit_sha != '' }}
      run: git push origin gh-pages
